<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="peo2" class="spring02.com.bjsxt.pojo.People">-->
<!--        根据构造方法参数索引下标位置赋值-->
<!--        <constructor-arg index="0" value="123"></constructor-arg>-->
<!--        <constructor-arg index="1" value="张三"></constructor-arg>-->

<!--        根据构造方法参数名赋值-->
<!--        <constructor-arg name="id" value="123"></constructor-arg>-->
<!--        <constructor-arg name="name" value="张三"></constructor-arg>-->

<!--        根据构造方法参数索引位置、名、类型复合定位赋值对象-->
<!--        <constructor-arg index="0" name="id" type="java.lang.Integer" value="123"></constructor-arg>-->
<!--        <constructor-arg index="1" name="name" type="java.lang.String" value="张三"></constructor-arg>-->

<!--        <constructor-arg index="0" name="id" type="int" value="123"></constructor-arg>-->
<!--        <constructor-arg index="1" name="name" type="java.lang.String" value="张三"></constructor-arg>-->

<!--        <constructor-arg index="0" type="java.lang.Integer" value="123"></constructor-arg>-->
<!--        <constructor-arg value="张三"></constructor-arg>-->
<!--    </bean>-->

    <!-- spring实例工厂方式创建对象-->
<!--    <bean id="instanceFactory" class="spring02.com.bjsxt.pojo.InstanceFactory" />-->
<!--    <bean id="peo21" factory-bean="instanceFactory" factory-method="newInstance" />-->

    <!-- spring静态工厂方式创建对象-->
    <bean id="peo22" class="spring02.com.bjsxt.pojo.StaticFactory" factory-method="newInstance" />

</beans>