<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop/
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--
        spring配置文件基于schema（DTD的升级版-XML语法检查器）, 扩展名是.xsd,
        比DTD具备更好的扩展性。
        xmlns（xml namespace）必须匹配一个xsd
        aop相关语法检查器
        <aop:config />
    -->

    <bean id="peo1" class="spring01.com.bjsxt.pojo.People" />

</beans>